.initechNode {
  border-radius: 16px; /* Rounded corners */
  background-color: #f5f5f5; /* Light background color */
  display: inline-block; /* Allow text wrapping */
  text-align: center; /* Center text within node */
  min-width: 150px; /* Minimum width for text adjustment */
  margin: 5px; /* Spacing between nodes */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0px 0px 6px #c6c6c6, 0px 0px 6px #ffffff; /* Subtle shadow */
}

.initechNode:hover {
  background-color: #e0e0e0; /* Change background on hover */
}

.node-name {
  background-color: #a41719;
  margin: 0;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.node-actor {
  padding-left: 5px;
  padding-right: 5px;
}

/* OrganigramaStyle.css */
/* OrganigramaStyle.css */

/* OrganigramaStyle.css */

#initechOrgChart {
  width: 100%; /* Asegura que el contenedor ocupe el 100% de su contenedor padre */
  max-width: 1200px; /* Opcional: define un ancho máximo si es necesario */
  margin: 0 auto; /* Centra el contenedor si el ancho es menor que el 100% */
}

.custom-table {
  width: 90%; /* Ancho fijo del 90% del contenedor #initechOrgChart */
  border-collapse: collapse;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  margin: 0 auto; /* Centra la tabla dentro de #initechOrgChart */
}

.custom-table th,
.custom-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.custom-table th {
  background-color: #8b0000; /* Rojo oscuro para los encabezados */
  color: white;
}

.custom-table tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.custom-table .selected-row {
  background-color: #add8e6;
}
