.stp-encabezado {
  text-align: right;
}

.stp-aft {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.stp-aft > div {
  width: 100px;
  height: auto;
  border: 1px solid #ccc;
}

.stf-accrsp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.stf-accrsp > div {
  width: 200px;
  height: auto;
  border: 1px solid #ccc;
}

.stf-recesc {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.stf-recesc > * {
  width: 100px;
  height: auto;
  border: 1px solid #ccc;
}
